body, main {
    margin-top: 5rem;
    background-color: 	#FFC0CB;
    justify-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    color: #ff69b4;
}

button {
    max-width: fit-content;
    max-height: fit-content;
    min-height: 3rem;
    min-width: 6rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    font-family: 'Pacifico', cursive;
}

img {
    margin-top: 2.5rem;
    border-radius: 3rem;
}